body{
  margin: 0;
  padding: 0;
}

.mainDiv{
  width: 100%;
  max-width: 100%;
  min-width: 35em;

  
  .blockingMessages{
    display: none;
    
    &.block{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: 99999;
      background-color: rgba($color: #000000, $alpha: 0.8);
      color: whitesmoke;
    }
  }

  header{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .documentDiv{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 1% 3%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    .codeMirrorDiv{
      position: relative;
      width: 100%;
      max-width: 100%;
      flex-grow: 0;
      border: solid 2px;
    } 
    .usersDiv{
      display: flex;
      flex-direction: column;
      flex-grow: 2;
      margin-left: 2em;

      .userDiv {
        
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5em 0;

        span{
          white-space: nowrap;
        }

        .colorDiv {
          border: 1px solid #999;
          height: 2em;
          width: 2em;
          min-width: 2em;
          min-height: 2em;
          margin-left: 1em;
        }
      }
    }
  }
}